
/*  Section 1 overview page css   */
.home-main-section1{
  margin-top: 2%;
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  display :flex;

  

   
 
}



.home-main-section1 h1{
  font-Size: 60px;
  font-Family:'R.font.dela gothic one';
  font-Weight: 900;
  color:#22049A;
  text-transform: uppercase;
  margin-left: 20px;


}
.welcome{
  font-Size: 60px;
  font-Weight: 900;
  color:#22049A;
  margin-left: 50px;
}
.welcome-To{
  font-Size: 60px;
  color:#a8a8a8;
  text-decoration: underline red 2px;

}
.Name-latera{
  font-Size: 90px;
   color:red;
   letter-spacing:0px;
  text-decoration: underline red 2px;

}
.Name-laterb{
  font-Size: 90px;
   color:green;
  text-decoration: underline red 2px;
}

.network{
  font-Size: 90px;
  margin-left: 20px;
  color: blue;
  letter-spacing: 15px;

}






.offer{
  width:600px;
  height:120px;
  margin-top: 20px;
  border-top-right-radius:8px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 8px;
  background-color: #F5F5F5;
  margin-left: 50px;
 box-shadow: 5px 10px 10px gray;
}
.join-btn{
  margin-top: 25px;
  font-size: 25px;
  font-weight: 600;
  font-family:monospace;
  margin-left: 50px;
}
.book-link{
   color:blue;
   cursor: pointer;
  text-decoration: underline 1px solid rgb(0, 30, 255);
   transition: all ease 0.3s;
}
.book-link:hover{
  color:rgb(255, 0, 0);
  text-decoration: underline 1px solid red;
  cursor: pointer;
}
.middle-text{
 margin-left: 100px;
}
.make-red{
  color: red;
}
.btn{
  font-size: 20px;
  padding:8px 10px;
  font-weight: 900;
  color:rgba(137, 71, 1, 0.827);
  margin-left: 25%;
  border-style: none;
  background-color: rgb(51, 191, 246);
  border-radius: 5px;
  box-shadow: 3px 3px 3px green;
  margin-bottom: 30px;
  width: 150px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
.btn:hover{
  scale:1.2;
  font-size: 20px;
  padding:8px 10px;
  font-weight: 900;
  color:#000dffc5;
  border-style: none;
  background-color: #ffbb00;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgb(128, 34, 0);
  margin-bottom: 30px;
  width: 150px;
}

.background-container{
background-color: #DADFFB;
width: 400px;
height: 400px;
border-radius: 30px;
-webkit-box-shadow: 0px 2px 15px #2600ff;
        box-shadow: 0px 2px 15px #2600ff;
transform: rotate(-45deg) ;
}
.image-scroller{
  width: 400px;
  height: 400px;
  transform: rotate(45deg);
  border-radius: 45px;
  background-color: #ffbb00;
  -webkit-box-shadow: 0px 2px 15px #2600ff;
  box-shadow: 0px 2px 15px #2600ff;
  overflow: hidden;
  position: absolute;
    z-index: 950;
}




.left_part{
  width: 900px;
  height: 600px;
  position: relative;
  margin-left: 30px;
  margin-top: 6%;
   margin-bottom: 25px;
   z-index: 750;
}
.right_part{
  position: relative;
  z-index: 500;
  width: 600px;
  height: 600px;
  margin-top: 8%;
 margin-bottom: 25px;
 margin-left: 5px;
}


/*  Section 2 Package Detail css   */
.home-main-section2{
  width: 100%;
  height: max-content;
  background-color: #f8c0c0;

}
.Package-title  {
  font-size: 25px;
  text-align: center;
  padding: 5px 0px;
  font-weight: 900;
  text-transform:uppercase;
  background-color: #FFA9A9;
  font-style: italic;
  color:#ffffff;
}
.package-card-container {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}
.package-card{
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 30px;
  background-color: #FFE3E3;
  width: 250px;
  height: 300px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 5px;
  border-top-left-radius: 50px;
  -webkit-box-shadow: 0px 2px 10px #2600ff;
        box-shadow: 0px 2px 10px #2600ff;
        transition: all ease-in-out 0.2s;

}
.package-card:hover{
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 30px;
  background-color: #f8aeae;
  width: 250px;
  height: 300px;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 50px;
  border-top-left-radius: 5px;
  -webkit-box-shadow: 0px 2px 15px #00500c;
        box-shadow: 0px 2px 15px #00500c;

}
.btn-small{
  font-size: 15px;
  padding:5px 6px;
  font-weight: 900;
  margin:10px;
  color:rgba(137, 71, 1, 0.827);
  border-style: none;
  background-color: rgb(51, 191, 246);
  border-radius: 5px;
  box-shadow: 3px 3px 3px green;
  margin-bottom: 30px;
  width: 100px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
.card-image{
  width:150px;
  height: 100px;
}



/*section-03 home page */

.home-main-section3{
  display: flex;
  width: 100%;
}
.left-side1{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}
.left-side2{
  width: 50%;
}
.card-image-left{
  position: relative;
  z-index: 100;
  width:600px;
  height: 450px;
  margin-left: 100px;
 
}
.text-top{
  position: absolute;
  z-index: 300;
  top: 35%;
  left: 8%;
  font-size:65px;
  transform: translate(0%, -50%);
  text-align: center;
  color: rgb(0, 0, 0); /* Adjust text color as needed */
}
.top-text1 {
  position: absolute;
  z-index: 300;
  top: 65%;
  left: 55%;
  font-size: 25px;
  transform: translate(-58%, -50%);
  text-align: center;
  color: rgb(8, 0, 255);
  font-weight: 900;
}
.left-side-img{
  width:600px;
  height: 400px;
  margin-top: 20px;
  margin-left: 100px;
}

/* Section 04 Home Page */

.home-main-section4{
   width: 100%;
   height: max-content;
   display: flex;
}
.img-side1{
 width: 50%;
}
.img-side2{
 width: 50%;
}
.left-side-img1{
  width: 100%;
  height: 400px;
}
.right-side-img2{
  width: 100%;
  height: 400px;
}